# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
# for å få til emmet på php:

'atom-text-editor[data-grammar="text html php"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="text html twig"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="source js jsx"]':
     'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="source js js"]':
     'tab': 'emmet:expand-abbreviation-with-tab'

# See current file in tree:
'.platform-darwin':
    'ctrl-cmd-a': 'tree-view:reveal-active-file'


# to disable LRU (Last Recently Used) tab-switching
'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
