/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

atom-text-editor {
  //-webkit-font-smoothing: antialiased;
  font-family: "Fira Code";
	font-weight: 100;
  font-variant-ligatures: contextual;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: contextual;
  -webkit-text-rendering: optimizeLegibility;
}

atom-text-editor, atom-text-editor::shadow,
:host {
  .selection .region {
    background-color: RGBA(0, 225, 255, 0.3);
  }

  .entity.name.tag {
    text-decoration: none;
  }

  .punctuation.section.php.embedded {
    color: #AC7965;
  }

  .entity.attribute-name.html {
    color: #D2876D;
		font-style: italic;
  }
	.comment {
    font-style: italic;
    font-weight: 400;
  }
}

.terminal-plus .xterm {
  background-color: #1C1F26;
  font-weight: 100;
  color: #A3B9CB;
  -webkit-font-smoothing: antialiased;
  font-family: "Fira Code";
}
